<%- include("../partials/header")  %> 


<div class="container">
  <div class="row">
     <div class="text-center col-md-12 ">
       <h1>新增評論到 <%= campground.name %> </h1>
     </div>
    <div style="width: 30%; margin: 20px auto;">
      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" placeholder="text">
        </div>

       
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block">送出</button>
        </div>
      </form>
           <a href="/campgrounds">返回</a>

    </div>
  
  </div>

</div>
<%- include("../partials/footer")  %> 