<%- include("partials/header")  %> 

<div class="container">
     
       <form action="/forgot" method="POST">
        <legend>忘記密碼</legend>
        <hr/>
        <div class="form-group">
          <label for="email" class="h5">Email</label>
          <input type="email" name="email" autofocus class="form-control">
        </div>
        
          <input type="submit" class="btn btn-primary" value="重置密碼">
         
      </form>
 
</div>
   

<%- include("partials/footer")  %> 