<%- include("partials/header")  %> 


    <form action="/login" method="POST" class="form-signin">
      <img class="mb-4" src="bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">登入</h1>
      <label for="inputEmail" class="sr-only">使用者名稱</label>
      <input type="text"" id="inputEmail"  name="username" class="form-control" placeholder="使用者名稱" required autofocus>
      <label for="inputPassword" class="sr-only">密碼</label>
      <input type="password" id="inputPassword" name="password" class="form-control " placeholder="密碼" required>
      <a href="/forgot" class="d-flex float-right">忘記密碼</a>
      <button class="btn btn-lg btn-primary btn-block"  type="submit">Sign in</button>
      
      <a href="/campgrounds" class="d-flex mt-2">返回</a>
    </form>
      

<%- include("partials/footer")  %> 